.jumbotron
{
    background-image: url("./img/casaecafe.png");
    background-size: 30%;
    background-position: calc(80% + 20px) calc(60% + 60px);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    background-color:aqua; 
    float: left;
}
}

h1 {
    font-family: Impact,
    font-size: 210%;
}

h2 {
    font-family: Impact,
    font-size: 170%;
}

p {
    font-family: Impact,
    font-size: 100%;
}
